/* About.css */

.about {
    position: relative;
    height: 100vh;
    text-align: center;
    padding: 100px;
    background-image: url('F:\Desktop\front end talent hunt tarun\src\about-img\debby-hudson-MzSqFPLo8CE-unsplash.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
  }
  
  .about h2 {
    font-size: 56px;
    margin-bottom: 20px;
  }
  
  .about p {
    
    font-size: 20px;
    margin-bottom: 20px;
  }
  