/* Reset some default styles */
body, ul {
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #66ccff;
}

/* Home component styles */
.home {
  text-align: center;
  padding: 100px;
}

.home h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.home p {
  font-size: 18px;
}
