.artist-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* Set viewport width */
    height: 100vh; /* Set viewport height */
    background-image: url('../artistProfile_img/laura-adai-ya4B273wYpE-unsplash.jpg'); /* Add the path to your background image */
    background-size: cover;
    background-position: center;
  }
  
  
  .artist-profile-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .artist-profile-details {
    margin-left: 20px;
    text-align: left;
  }
  
  .profile-attributes {
    margin-top: 20px;
  }
  
  .artist-profile-details h2 {
    margin-top: 0;
  }
  
  .update-button {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .update-button:hover {
    background-color: #0056b3;
  }
  