/* Styles for the Home component */
.home {
    position: relative;
    height: 100vh; /* Set the height to 100% of the viewport height */
    text-align: center;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    background-image: url('../img/raimond-klavins-Ek-HeyrgkqM-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }
  
  
  .home h1 {
    font-size: 78px;
    margin-bottom: 20px;
    color: white;
  }
  
  .home p {
    font-size: 36px; /* Adjust font size */
    margin-bottom: 20px;
    color: white; /* Change text color to white for better visibility */
  }
  
  /* You can adjust other styles as needed */
  