/* Footer.css */

.footer {
  color: white;
  padding: 20px 0; /* Increase the vertical padding */
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column; /* Stack links vertically */
  align-items: center;
  gap: 20px; /* Add some spacing between links */
}

.footer p {
  margin: 0;
  font-size: 18px; /* Increase font size */
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 30px; /* Increase font size */
  margin: 10px 0; /* Add some vertical spacing */
}

.footer-links a:hover {
  text-decoration: underline;
}
