
/* .card{
    margin-top: 25px;
   
    height: 150px;
    
} */

.text-center{
    margin-bottom: 20px;
    margin-top: -50px;
    table-layout: fixed;
}
/* 
.card-body{
    margin-bottom: 50px;
} */