.app{
    margin-top: 20px;
    text-align: center;
}

.container{
    margin-top: 20px;
    width: 80%;
}

.title-float{
    float: left;
    text-align: left;
    margin-left: 25%;
    padding:25px;
}

.mb-3{
    float: left;
    text-align: left;
}

.card{
    width: 80%;
    margin-left: 8%;
    box-shadow: 2px 2px 10px rgb(104, 102, 102);
    height:350px;
}

.card:hover{
    box-shadow: 1px 1px 15px rgb(100, 100, 100);
}
