.header {
    width:100%;
    /* padding:0px 20px; */
  }
  
  .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;
  }
  
  .headerTitleSm {
    position:absolute;
    top: 13%;
    font-size: 45px;
    color:black
  }
  
 
  
  .headerImg {
    width: 100%;
    height: 700px;
   
    object-fit:cover;
   
  }
  